/* FONT COLOURS */
$base-font-size:16px;
$base-font-family:"Segoe UI","Segoe WP", "Segoe Regular", sans-serif;
$base-font-colour:#000;

/* BACKGROUND COLOURS */
$primary-blue:#00A4E4;
$secondary-white:#FFF;

$primary-darker-blue:#00009C;
$background-colour:#00009C;

/* DIMENSIONS */
$block-padding: 10px;
$h-margin: 15px;
$td-padding:5px;